@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin: 0 0.5rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0px

@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types,
  .design-project
    &__card
      margin-bottom: 4.214rem
  .col-50
    width: 90%
  .card
    &__text
      margin-left: 0
  .projects
    padding: 3rem 0
    background-image: none
    .section-title
      &__heading
        &_primary
          margin-bottom: 2rem
          font-size: 1.62rem
          line-height: 160%
      &__word
        &::after
          display: none
      &__left
        display: flex
      &__text
        width: 95%
        margin-bottom: 2rem
        font-size: 1.165rem
        line-height: 1.85rem
  .swiper
    &-slide
      &__text
        padding-bottom: 1.3rem
        margin-bottom: 0
        &:last-child
          margin-bottom: 3rem
      &__heading
        font-size: 1.1rem
      &__value
        width: 100px
        font-size: 1.2rem
        line-height: 1.5rem
      img
        margin-top: 2.7rem
  #button-up
    opacity: 0
    visibility: hidden

@media screen and ( max-width: 576px )
  .section
    &-title
      &__heading
        font-size: 1.8rem
        &_primary
          margin-top: 0
      &__subheading
        max-width: 91%
        font-size: 1.25rem
        line-height: 1.65rem
  .logo
    padding: 1.82rem 0
    font-size: 1rem
  .contacts
    &__phone
      margin-right: 0
      font-size: 1rem
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.865rem
  .hero
    &__content
      max-width: 29rem
    &__text
      max-width: 26.5rem
      margin-bottom: 2.5rem
      font-size: 1.5rem
      line-height: 2.1rem
    &__button
      display: block
      min-width: 22.857rem
      padding: 1.428rem 7.44rem
      margin-bottom: 2rem
      margin-right: 0
      font-size: 1.1rem
    &__scroll-down
      display: none
  .button
    &_outline
      padding: 1.428rem 8.8rem
  .col
    margin-top: 1.3rem
    .types,
    .design-project
      &__card
        margin-bottom: 5.714rem
  .card
    &__text
      max-width: 22.471rem
      padding-left: 2.5rem
      margin: -11.671rem auto 0 0
    &__title
      font-size: 1.22rem
      line-height: 2.17rem
    &__list
      line-height: 1.85rem
    &__pricetag
      padding: 1rem 3rem
      font-size: 1.215rem
  .design-project
    &__section-title
      margin-bottom: 1.8rem
    .card__text
      margin: -12rem auto 0 0
    .card__list
      line-height: 1.92rem
    .card__pricetag_wide
      padding: 1rem 4rem


@media screen and ( max-width: 374px )
  .hero
    &__content
      max-width: 360px
    &__text
      font-size: 1.43rem
    &__button
      padding: 1.428rem 0rem
      width: 100%
      font-size: 1rem

@media screen and ( max-height: 500px )
  .hero
    &__scroll-down
      display: none