.hero
  position: relative
  height: 100vh
  background: $dark url('../img/hero_bg.jpg')center/cover no-repeat
  color: $light
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 82px
    height: 100%
.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
    color: $primary
    text-transform: uppercase
    text-decoration: none
    transform: rotate(90deg)
.title
  margin: 0